{{!-- <header>
    <h1>{{title}}</h1>
    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header> --}}

{{!-- <header>
    <div class="header">
        <div class="row">
            <div class="col-sm-9">{{title}}</div>
            <div class="col-sm-1"><a href="/">Weather</a></div>
            <div class="col-sm-1"><a href="/about">About</a></div>
            <div class="col-sm-1"><a href="/help">Help</a></div>
        </div>
    </div>
</header> --}}

<header>
    <div class="header-container">
        <div class="header">
            {{title}}
            <img src="./img/sun.png">
            <div class="header-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/help">Help</a>
            </div>
        </div>
    </div>
</header>